.lifting{
    width: 95vw;
    height: 100vh;
    margin-left: 5vw;
    color: black;
    background: $color1;
    @include flex(flex-start,flex-start,row);

    .img{
        width: 30%;
        height: 100%;
        background: url('/img/fitness3.jpg');
        background-position: center;
        background-repeat: none;
        background-size: cover;
    }

    .right{
        @include flex(space-around,center,column);
        width: 70%;
    }

    .text{
        padding: 3rem 0;
        text-align: center;
        h2{
            font-size: 4rem;
        }
        p{
            font-size: 2rem;
        }
        }
    .btns{
        @include flex(space-around, center, column);
        width: 100%;
        padding: 3rem;
        margin-top: 2rem;
    }
    .lifting-group{
        border-radius: 1.5rem;
        background: $color2;
        margin: 1rem 0;
        padding: 2rem;
        @include flex(start, center, row);
        width: 100%;
        cursor: pointer;

        &:hover{
            transform: scale(1.02);
        }
        img{
            width: 10rem;
        }
        h2{
            font-size: 2.5rem;
            margin-left: 4rem;
        }
    }
    }