nav{
    width: 5vw;
    height: 100%;
    @include flex(space-between,center,column);
    position: fixed;
    background: $color6;
    padding: 1rem 0;

    ul{
        @include flex(space-between,center,column);
        height: 30%;
    }

    li{
        list-style: none;
    }
    img{
        width: 4rem;
        border-radius: 50%;
        cursor: pointer;

        &:hover{
            transform: scale(1.1);
        }
    }
}