.training{
    width: 95vw;
    height: 100vh;
    margin-left: 5vw;
    color: black;
    background: $color1;
    @include flex(flex-start,flex-start,row);

    .right{
        @include flex(space-around,center,column);
        width: 70%;
    }

    .text{
        padding: 3rem 0;
        text-align: center;
        h2{
            font-size: 4rem;
        }
        p{
            font-size: 2rem;
        }
        }
    .btns{
        @include flex(flex-start,center, column);
        width: 100%;
        height: 75vh;
        padding: 3rem;
        overflow-y: auto;
        scroll-behavior: smooth;
    }
    .training-group{
        border-radius: 1.5rem;
        background: $color2;
        margin: 1rem 0;
        padding: 1.5rem;
        @include flex(start, center, row);
        width: 100%;
        cursor: pointer;

        &:hover{
            transform: scale(1.02);
        }
        img{
            width: 10rem;
        }
        h2{
            font-size: 2.5rem;
            margin-left: 4rem;
        }
        h3{
            font-size: 2rem;
            margin-left: 1rem;
        }
        p{
            font-size: 1.5rem;
            margin: 0 1rem;
        }
    }
    }