.training{
    width: 95vw;
    height: 100vh;
    margin-left: 5vw;
    color: black;
    background: $color1;
    @include flex(flex-start,flex-start,column);

    h1{
        font-size: 3rem;
        padding: 3rem 0 1rem 2rem;
    }
    h3{
        font-size: 2rem;
        font-weight: 400;
        padding: 0 2rem;
    }

    .muscles{
        @include flex(space-evenly,center,row);
        width: 80%;
        margin: 2rem auto;

        .muscle{
            border-radius: 1rem;
            padding: 1rem 2rem;
            margin: 1rem;
            background: $color2;
            cursor: pointer;

            &:hover{
                transform: scale(1.05);
            }

            img{
                width: 12rem;
                padding-top: 1rem;
            }
            h1{
                font-size: 2rem;
                text-align: center;
                padding: 1rem 0;
            }
        }
    }

    .exercices-container{
        width: 100%;
        @include flex(flex-start,center,row);

        .btn{
            padding: 2rem 1rem;
            margin: 3rem;
            color: $color1;
            font-size: 3rem;
            background: $color4;
            border: none;
            border-radius: 0.5rem;
            cursor: pointer;

            &:hover{
                transform: scale(1.05);
            }
        }
    }

    .exercices{
        border-radius: 1rem;
        background: rgba($color: #000000, $alpha: 0.5);
        max-width: 85vw;
        height: 25rem;
        margin: 0 auto;
        overflow-x: auto;
        scroll-behavior: smooth;

        @include flex(flex-start,center,row);

        .exercise{
            height: 90%;
            min-width: 20rem;
            margin: auto 1rem;
            border: 1px black solid;
            border-radius: 1rem;
            cursor: pointer;

            &:hover{
                transform: scale(1.04);
            }

            h3{
                font-size: 2rem;
                text-align: center;
                padding: 1rem;
            }
            p{
                font-size: 1.5rem;
                padding: 0.25rem 1rem;
            }
        }
    }
}