* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}

p, label, a, input {
  font-family: "Roboto Condensed", sans-serif;
}

nav {
  width: 5vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: fixed;
  background: #E2D4B7;
  padding: 1rem 0;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 30%;
}
nav li {
  list-style: none;
}
nav img {
  width: 4rem;
  border-radius: 50%;
  cursor: pointer;
}
nav img:hover {
  transform: scale(1.1);
}

.home {
  width: 95vw;
  height: 100vh;
  margin-left: 5vw;
  padding: 3rem 5rem;
  color: #F7F7F7;
  background: #F7F7F7;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 2fr 1fr 3fr;
  gap: 2rem;
}
.home .logo {
  width: 20vw;
  position: relative;
  grid-column: 1;
  grid-row: 1;
}
.home .logo .beat {
  border-radius: 50%;
  width: 4rem;
  position: absolute;
  top: 1rem;
  left: 50%;
  margin-left: -2rem;
  border: 0.5px solid gray;
}
.home .logo .text {
  margin-top: 3rem;
  width: 20vw;
  border-radius: 1rem;
  border: 0.2px solid #4B3262;
}
.home .box {
  width: 20vw;
  border-radius: 1rem;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
}
.home .box:hover {
  transform: scale(1.02);
}
.home .box h2, .home .box h3 {
  width: 80%;
  padding: 0 0 2rem 2rem;
  font-size: 2.5rem;
  font-weight: 400;
}
.home .box img {
  width: 2rem;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}
.home .ptr {
  grid-column: 2;
  grid-row: 1/3;
  background: #B96C5B;
}
.home .pc {
  grid-column: 3;
  grid-row: 1/3;
  background: #E4E9E0;
  color: black;
}
.home .gn {
  grid-column: 4;
  grid-row: 1;
  background: #794F63;
}
.home .kh {
  grid-column: 1;
  grid-row: 2/4;
  background: #794F63;
}
.home .hn {
  grid-column: 2;
  grid-row: 3;
  background: #E4E9E0;
  color: black;
}
.home .wr {
  grid-column: 3;
  grid-row: 3;
  background: #4B3262;
}
.home .pd {
  grid-column: 4;
  grid-row: 2/4;
  color: black;
  background: url("/img/fitness4.jpg");
  background-position: center;
  background-repeat: none;
  background-size: cover;
}

.container {
  width: 95vw;
  height: 100vh;
  margin-left: 5vw;
  color: #F7F7F7;
  background: #F7F7F7;
}
.container .head h1 {
  font-size: 4rem;
  font-weight: 500;
  padding: 10rem 0 3rem 10rem;
}
.container .head p {
  font-size: 3rem;
  padding-left: 10rem;
}
.container .cards {
  height: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
.container .cards .card-box {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  width: 20rem;
  height: 80%;
  background: #E4E9E0;
  color: black;
  cursor: pointer;
  border-radius: 1.5rem;
  position: relative;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.card:hover {
  transform: scale(1.05);
}
.card .icon {
  width: 20%;
}
.card .caret {
  width: 2rem;
  position: absolute;
  top: 1.5rem;
  right: 1rem;
}
.card h3 {
  font-size: 1.7rem;
}
.card p {
  font-size: 1.2rem;
}

.lifting {
  width: 95vw;
  height: 100vh;
  margin-left: 5vw;
  color: black;
  background: #F7F7F7;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
.lifting .img {
  width: 30%;
  height: 100%;
  background: url("/img/fitness3.jpg");
  background-position: center;
  background-repeat: none;
  background-size: cover;
}
.lifting .right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 70%;
}
.lifting .text {
  padding: 3rem 0;
  text-align: center;
}
.lifting .text h2 {
  font-size: 4rem;
}
.lifting .text p {
  font-size: 2rem;
}
.lifting .btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 3rem;
  margin-top: 2rem;
}
.lifting .lifting-group {
  border-radius: 1.5rem;
  background: #E4E9E0;
  margin: 1rem 0;
  padding: 2rem;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  width: 100%;
  cursor: pointer;
}
.lifting .lifting-group:hover {
  transform: scale(1.02);
}
.lifting .lifting-group img {
  width: 10rem;
}
.lifting .lifting-group h2 {
  font-size: 2.5rem;
  margin-left: 4rem;
}

.training {
  width: 95vw;
  height: 100vh;
  margin-left: 5vw;
  color: black;
  background: #F7F7F7;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.training h1 {
  font-size: 3rem;
  padding: 3rem 0 1rem 2rem;
}
.training h3 {
  font-size: 2rem;
  font-weight: 400;
  padding: 0 2rem;
}
.training .muscles {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 80%;
  margin: 2rem auto;
}
.training .muscles .muscle {
  border-radius: 1rem;
  padding: 1rem 2rem;
  margin: 1rem;
  background: #E4E9E0;
  cursor: pointer;
}
.training .muscles .muscle:hover {
  transform: scale(1.05);
}
.training .muscles .muscle img {
  width: 12rem;
  padding-top: 1rem;
}
.training .muscles .muscle h1 {
  font-size: 2rem;
  text-align: center;
  padding: 1rem 0;
}
.training .exercices-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.training .exercices-container .btn {
  padding: 2rem 1rem;
  margin: 3rem;
  color: #F7F7F7;
  font-size: 3rem;
  background: #794F63;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
.training .exercices-container .btn:hover {
  transform: scale(1.05);
}
.training .exercices {
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.5);
  max-width: 85vw;
  height: 25rem;
  margin: 0 auto;
  overflow-x: auto;
  scroll-behavior: smooth;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.training .exercices .exercise {
  height: 90%;
  min-width: 20rem;
  margin: auto 1rem;
  border: 1px black solid;
  border-radius: 1rem;
  cursor: pointer;
}
.training .exercices .exercise:hover {
  transform: scale(1.04);
}
.training .exercices .exercise h3 {
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
}
.training .exercices .exercise p {
  font-size: 1.5rem;
  padding: 0.25rem 1rem;
}

.exercise-container {
  width: 95vw;
  height: 100vh;
  margin-left: 5vw;
  color: black;
  background: #F7F7F7;
}/*# sourceMappingURL=index.css.map */